package $entity.PackageName;

import com.fasterxml.jackson.annotation.JsonIgnoreProperties;
import javax.persistence.Entity;
import javax.persistence.Table;
import lombok.Data;
#foreach( $importType in $entity.TypesToImport )
import ${importType.TypeUri};
#end

@JsonIgnoreProperties({ "hibernateLazyInitializer" })
@Entity
@Table(name = "$entity.tableName")
@Data
public class $entity.Name {
    #foreach( $field in $entity.Fields)

    	#foreach( $annotation in $field.annotations )
    $annotation.toString()
    	#end
    private $field.Type.Name#if( $field.Type.isGeneric() )<$field.Type.displayParametersList()>#end $field.Name;
    #end
}
